<div {{bind-attr style=modalStyle}} id="resolveModal" class="modal reveal-modal medium" data-reveal>
  <div class="modal-header">
    hello world
  </div>
</div>
<button id="btn-close-modal" {{action "toggleModal"}}>Close</button>

<div class="click-me">
  <button id="btn-open-modal" {{action "toggleModal"}}>Click Me</button>
</div>
